<h2> <%= @book.title %> </h2>
<h2> <%= @book.author %> </h2>
<h2> <%= @book.description %> </h2>
<h2> Category:  <%= @book.category.name %> </h2>



<br>

<% if user_signed_in? %>
	<% if @book.user_id == current_user.id %>
		<%= link_to "Add a Book", new_book_path %>
		<br>
		<%= link_to "All Books", books_path %>
		<br>
		<%= link_to "Edit", edit_book_path %>
		<br>
		<%= link_to "Delete", book_path, method: :delete, data: {confirm: "Are you sure?"} %>
		<br>
	<% end %>
<% end %>



<%= link_to "Back", books_path %>

