<div class="container">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
		</div>
		<div class="col-md-8" id="needspace">
			<h2> <%= @book.title %> </h2>
			<h3> <%= @book.author %> </h3>
			<h4> <%= @book.description %> </h4>
		</div>

	</div>
</div>

<br>

<div class="row">

	<div class="col-md-4">
		<!--where the reviews and ratings will go -->
	</div>
</div>


<br>

<% if user_signed_in? %>
	<% if @book.user_id == current_user.id %>
		<%= link_to "Add a Book", new_book_path %>
		<br>
		<%= link_to "All Books", books_path %>
		<br>
		<%= link_to "Edit", edit_book_path %>
		<br>
		<%= link_to "Delete", book_path, method: :delete, data: {confirm: "Are you sure?"} %>
		<br>
	<% end %>
<% end %>



<%= link_to "Back", books_path %>

